<!DOCTYPE html>
<html>
<body>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);

    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";}
    }
    
function showPosition(position) {
    var current = location.href;
	var next = current + position.coords.latitude + "/" + position.coords.longitude;
    x.innerHTML = next;
    redirect_it(next);
}

function redirect_it(new_url) {
    location.replace(new_url);
}

</script>

</body>
</html>
