<!DOCTYPE>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Details</title>
        <style>
             html, body {
            margin: 0;
            padding: 0;
          }
            #map-canvas {
                height: 70%;
                margin: 2% 5%;
            }
        </style>
    </head>

    <body>

        <div id="map-canvas"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0tl-yTrvyi_9UESPKQ27Ny4L0ONoktj8"></script>

        <script>
            function initialize() {
                var map = new google.maps.Map(document.getElementById('map-canvas'));
                var bounds = new google.maps.LatLngBounds();
                map.fitBounds(bounds);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </body>
</html>
