{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Points of Interest {% endblock %}

{% block styling %} 
<link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block menu %} 
    <li>
        <a class="page-scroll" href="#mapped">Map</a>
    </li>
    <li>
        <a class="page-scroll" href="#results">View Results</a>
    </li>
{% endblock %}

{% block content %}  
    <!-- Map Section -->
    <section id="mapped"  class="container content-section-aliter text-center">                   
        <p> Showing results for {{place}}</p>  
        <span>
            <a href="{% url 'vets:index' %}" class="btn btn-default btn-lg">I want to search for some other place . . . .</a>
        </span>        
    </section>
    <div id="map-canvas"></div>
    <!-- Results Section -->
    
    <section id="results"  class="container content-section-aliter">
        {% for poi in pois %}
            <div class="entry row">
                <div>
                    <h3 class="place-title text-center">{{ poi.name }}</h3>
                </div>           
                <address>
                <p class="margin-adjuster text-left"><strong class="colorer">Address :  </strong> {{ poi.address }}</p>
                </address>
                {% if poi.rating %}
                    <p class="margin-adjuster text-left"><strong class="colorer">Rating :  </strong> {{ poi.rating }}/5</p>
                {% endif %}

                <p class="text-right margin-adjuster "><a href="{% url 'vets:details' p_id=poi.place_id %}"><small>know more</small></a></p>
            </div>

        {% endfor %}             
    </section>
      
{% endblock %}         

{% block script %} 

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0tl-yTrvyi_9UESPKQ27Ny4L0ONoktj8"></script>
    <script>
                function initialize() {
                    var map = new google.maps.Map(document.getElementById('map-canvas'));
                    var bounds = new google.maps.LatLngBounds();

                    function addMarker(lat, lng, title, info) {
                        var position = new google.maps.LatLng(lat, lng);
                        var contentString = '<div id="content" class="map-window">'+                                         
                                            '<h3 id="firstHeading" class="firstHeading">'+title+'</h3>'+
                                            '<div id="bodyContent">'+
                                            '<p>'+info+'</p>'+
                                            '</div>'+
                                            '</div>';
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });                   
                        var marker = new google.maps.Marker({
                            position: position,
                            map: map,
                            title: title
                        });
                        marker.addListener('click', function() {
                            map.setZoom(map.getZoom() + 1);
                            map.setCenter(marker.getPosition());
                        });
                        marker.addListener('mouseover', function() {
                            infowindow.open(map, marker);
                        });
                        marker.addListener('mouseout', function() {
                            infowindow.close();
                        });
                        bounds.extend(position);
                    }

                    {% for poi in pois %}
                        addMarker({{ poi.latitude }}, {{ poi.longitude }}, "{{ poi.name }}","{{ poi.address }}");
                    {% endfor %}

                    map.fitBounds(bounds);
                }

                google.maps.event.addDomListener(window, 'load', initialize);
            </script>

{% endblock %}            
