{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Vet Search {% endblock %}
{% block menu %} 
{% endblock %}
{% block content %}   
    <p>Click the button to use your location.</p>
    <button onclick="getLocation()">Try It!</button>  
    <p id="demo"></p>     
    <div>                             
        <form role="form" action="/vets/find/" method="POST">
            {% csrf_token %}
                <div>                                     
                    <div style="vertical-align: middle;width: 75%;float: none;display: inline-block;">
                        <div>
                            <input type="text" name="location" placeholder="Which place do you want to search?">
                            <input type="text" name="what" placeholder="What kind of pet do you have?">
                            <span>
                                <button type="submit">Search!</button>
                            </span>
                        </div>
                    </div>                  
                </div>                                    
        </form>                                                             
    </div>
{% endblock %}    

{% block script %} 
<script>
var x = document.getElementById("demo");

function getLocation() {

    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);

    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";}
    }
    
function showPosition(position) {
    var current = location.href;
    var next = current + position.coords.latitude + "/" + position.coords.longitude;
    redirect_it(next);
}

function redirect_it(new_url) {
    //location.assign(new_url);
    location.href =new_url;
}

</script>
{% endblock %}


