{% block form %}        

<div>                           
    <form role="form" action="/vets/find/" method="POST">
		{% csrf_token %}
            <div>                                     
                <div style="vertical-align: middle;width: 75%;float: none;display: inline-block;">
                    <div>
                        <input type="text" name="location" placeholder="Which place do you want to search?">
                        <input type="text" name="what" placeholder="What kind of pet do you have?">
                        <span>
                            <button type="submit">Search!</button>
                        </span>
                    </div>
                </div>                  
            </div>                                    
    </form>                                                             
</div>
{% endblock %}    


